# .env.example
# Copy the contents of this file into a new file named '.env.local' 
# and replace the placeholder with your actual Pexels API Key.

VITE_PEXELS_API_KEY=Zmtd8FV1CK5GwjX3rpf4XkIRsvL5hjEgtAxrFmztYFDQkxQ9Mj2XpTiE